@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap");

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 15px 0;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.logoImage {
  width: 2.5rem;
}

.logoTextStart {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2rem;
}

.logoTextEnd {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  font-size: 2rem;
}

.searchIcon {
  width: 15px;
  background-color: #f5f5f5;
  padding-right: 5px;
}

.searchContainer {
  display: flex;
  position: relative;
  right: 42.5%;
}

.searchBar {
  border: none;
  background-color: #f5f5f5;
  padding: 10px;
  width: 250px;
}
form {
  display: inherit;
}

.submitButton {
  display: inherit;
  border: none;
  background-color: #f5f5f5;
  align-items: center;
  cursor: pointer;
}
